h1{
    color: #000;
    font-family: "Inter";
    font-size: 58px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    margin-top: 80px;
    margin-bottom: 33px;
    text-align: center;
}

@media screen and (max-width: 500px){
    h1{
        font-size: 60px;
    }
}

@media screen and (max-width: 350px){
    h1{
        font-size: 50px;
    }
}